$dark-grey: #333232;
$light-grey: #808080;
$white: #ffffff;
$yellow: #FFCA2A;

.tournaments-container {
  margin:auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-areas:
    'sidebar content';
}

.tournaments-search {
  margin: 10px;
  grid-column-start: 1;
  grid-row-start: 1;

  h5 {
    background-color: $yellow;
    color: $dark-grey;
    text-align: left;
    width:auto;
    padding: 5px;
    display: inline-grid;
  }

  .search-form {
    background-color: $dark-grey;
    height: 35%;
    padding: 10px;
  }

  .date-container {
    font-size: 12px;
    text-align: left;
  }
}

// TOURNAMENTS INDEX

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 1225px;
}

.form-text {
    display: inline-block;
    width: 41%;
 }

 .date-container {
 	display: block;
 	text-align: center;
 	padding: 10px 0 5px 0;
 }

 .site-wrapper {
    display: block;
    height: 1065px;
    background-color: rgba(28, 28, 28, 0.85);
}

.inline-site-wrapper {
	padding: 10px 15px;
	margin: 10px 0;
	background-color: rgba(89,89,89,0.7);
}

.inline-site-wrapper img {
	height: 100px;
	width: 100px;
}

.inline-site-wrapper p {
	margin: 0 0 0 110px;
	position: relative;
}

.inline-site-wrapper a {
	color: rgb(169, 207, 84);
}

.inline-site-wrapper-p {
	display: inline-block;
	position: absolute;
}

.inline-site-wrapper-p p {
	margin: 0 0 0 10px;
}

.search-btn{
	font-size: 13.3333px;
	font-weight: bold;
	height: 23px;
}
