.inactive {
  color: red;
}

.active {
  color: green;
}

.team-name {
  color: #FFCA2A;
  font-weight: bold;
  clear: left;
}

.no-wins {
  color: red;
  font-weight: bold;
}

.team-avatar {
  min-height: 100%;
  min-width: 100%;
}

//BODY

.team-profile {
  height: 1200px;
  background-color: rgba(0, 0 ,0, 0.5);
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  // grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: left;
  grid-template-areas:
    'sidebar content'
    'sidebar content'
    'sidebar content';
}

.team-info {
  grid-area: sidebar;
  padding: 10px;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 10px;
  margin: 5px;
}

.team-enquiry {
  padding-top: 10px;
  grid-area: content;
  padding: 5px;
  grid-column-start: 2;
  grid-row-start: 1;
}
