.inactive {
  color: red;
}

.active {
  color: green;
}

.team-name {
  color: #FFCA2A;
  font-weight: bold;
  clear: left;
}

.no-wins {
  color: red;
  font-weight: bold;
}

.team-avatar {
  max-height: 184px;
  max-width: 184px;
}

//BODY

.team-profile {
  background-color: rgba(0, 0 ,0, 0.5);
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: left;
  grid-template-areas:
    'sidebar content'
    'sidebar content'
    'sidebar content';
}

.team-info {
  grid-area: sidebar;
  padding: 10px;
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 5px;
}

.team-name {
  padding: 10px;
}

.team-enquiry {
  padding-top: 10px;
  grid-area: content;
  padding: 10px;
  margin: 5px;
  grid-column-start: 2;
  grid-row-start: 1;
}

.join-team {
  display: inline;
  padding: 10px;
  background-color: white;
  width: auto;
  font-size: 1.5em;
}

.team-requests {
  margin-top: 30px;
}
