@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

$dark-grey: #333232;
$light-grey: #363636;
$white: #ffffff;
$yellow: #FFCA2A;

body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: $yellow;
}

#navbar {
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/elabs-next/navbar.png');
  height: 140px;
  border-bottom: solid $yellow 10px;
  display: flex;

  .left-navbar {
    flex: 1;
    padding-top: 20px;
  }

  .right-navbar {
    flex: 1;
    padding-top: 50px;
  }

  .logo {
    width: auto;
    height: 75px;
    padding: 10px;
    display: block;
    margin: auto;
  }

  .player {
    text-align: right;
  }

  .nav-links:before {
    width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
  }

  .nav-links {
    width: 600px;
    float: right;
    text-align: right;
    background-color: $yellow;
    color: $white;
    position: relative;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 10px;
      text-align: left;
    }

    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      color: $light-grey;
    }
  }
}

#footer {
  background-color: $dark-grey;
  padding: 10px;
  font-size: 14px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
