$dark-grey: #333232;
$light-grey: #7f7f7f;
$white: #ffffff;
$purple: #d442f4;


body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  color: $purple;
}

#navbar {
  border: $white;
}

.nav-links {
  display: inline;
  float: right;
}
