@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

$dark-grey: #333232;
$light-grey: #808080;
$white: #ffffff;
$yellow: #FFCA2A;

body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-position: center;
  background-size: cover;
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/elabs-next/background.png');
  background-attachment: fixed;
  height: 100%;
  // min-height: 1100px;
  min-width: auto;
  position: relative;
}

.opaque-box {
  content: "";
  background-color: black;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  height: inherit;
}

#avatar {
  width: 184px;
  height: 184px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFCA2A;
  border-radius: 8px;
  float: left;
}

h1, h2, h3, h4 {
  color: $yellow;
}

#navbar {
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/elabs-next/navbar.png');
  height: 140px;
  border-bottom: solid $yellow 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  // grid-column-gap: 5px;
  // grid-row-gap: 10px;
  grid-template-areas:
    'left right';

  .left-navbar {
    grid-column-start: 1;
    grid-row-start: 1;
    padding-top: 20px;
  }

  .right-navbar {
    padding-top: 50px;
  }

  .logo {
    width: auto;
    height: 75px;
    padding: 10px;
    display: block;
    margin: auto;
  }

  .player-navbar {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: right;
    margin-top: 30px;
  }

  .user-info {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .nav-links::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 48px 71px;
    border-color: transparent transparent #FFCA2A;
    position: absolute;
    left: -70px;
    bottom: -4px;
  }

  .nav-links {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 57vw;
    float: right;
    text-align: right;
    background-color: $yellow;
    color: $white;
    position: relative;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 10px;
      text-align: left;
    }

    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      color: $white;
      font-weight: 600;
    }

    a {
      color: $white;
      font-weight: 600;
    }
  }
}

#footer {
  background-color: $dark-grey;
  padding: 10px;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-top: 2cm;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
}
