<h4>Hi</h4>



<!--testing block for oauth-->
<% if current_user %>
    <h5>Signed in as <%= current_user.name %></h5>
    <%= link_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
    <%= link_to 'Sign in with Steam', '/auth/steam' %>
    <h5>Not signed in</h5>
<% end %>
<!---->