// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inactive {
  color: red;
}

.active {
  color: green;
}

.team_name {
  color: #FFCA2A;
  font-weight: bold;
}

.no_wins {
  color: red;
  font-weight: bold;
}