// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.player-info-box {
  background-color: black;
  float: left;
  height: 770px;
  width: 665px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.player-profile-header {
  padding-left: 20px;
  padding-top: 20px;
}

.player-profile-info {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.player-info {
  padding-left: 20px;
  padding-top: 20px;
}

.player-name {
  color: #FFCA2A;
  font-weight: bold;
  clear: left;
}

.player-hero-box {
  background-color: black;
  float: left;
  height: 770px;
  width: 1050px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.player-hero-info {
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}

.hero-avatar {
  width: 300px;
  height: 340px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFCA2A;
  border-radius: 8px;
  float: left;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#hero-gif {
  min-height: 100%;
  min-width: 100%;
}

.hero-stats {
  position: relative;
  float: left;
  padding-left: 20px;
}

.player-hero {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  height: 770px;
  width: 1050px;
}

.hero-match {
  float: left;
}

.buttonright {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}