// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.player-info-box {
  background-color: black;
  float: left;
  height: 770px;
  width: 665px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.player-profile-header {
  padding-left: 20px;
  padding-top: 20px;
}

.player-profile-info {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.player-info {
  padding-left: 20px;
  padding-top: 20px;
}

.buttonright {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}